<ion-header>
  <ion-toolbar>
    <ion-title>
      Useful Information
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div style="padding-left: 10px; padding-right: 10px; color: #fff;">
    <h4>Terminolgy</h4>
    <ol style="padding-left: 15px !important;">
      <li><strong>Slots: </strong> Curabitur non mauris maximus, lobortis risus sed, tristique dolor</li>
      <li><strong>Schedule: </strong> Curabitur non mauris maximus, lobortis risus sed, tristique dolor</li>
      <li><strong>Device: </strong> Curabitur non mauris maximus, lobortis risus sed, tristique dolor</li>
      <li><strong>Notifications: </strong> Curabitur non mauris maximus, lobortis risus sed, tristique dolor</li>
      <li><strong>Sensors: </strong> Curabitur non mauris maximus, lobortis risus sed, tristique dolor</li>
    </ol>
    
    <h4>Hardware</h4>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut semper metus a 
        risus mattis vulputate. Curabitur non mauris maximus, lobortis risus sed, 
        tristique dolor. Praesent pellentesque id dolor id posuere.
    </p>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut semper metus a 
        risus mattis vulputate. Curabitur non mauris maximus, lobortis risus sed, 
        tristique dolor. Praesent pellentesque id dolor id posuere.
    </p>

    <img src="./../../assets/img/aurduino.png" />

    <h4>Setting Up</h4>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut semper metus a 
        risus mattis vulputate. Curabitur non mauris maximus, lobortis risus sed, 
        tristique dolor. Praesent pellentesque id dolor id posuere.
    </p>
    <img src="./../../assets/img/aurduino-2.png" />
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut semper metus a 
        risus mattis vulputate. Curabitur non mauris maximus, lobortis risus sed, 
        tristique dolor. Praesent pellentesque id dolor id posuere.
    </p>

  </div>

  <!-- Setting button -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="showSettings()" style="--background: #d35a0af6">
      <ion-icon name="settings"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>
