.bottom-border{
  border-bottom: 1px solid #fff;
}

.notification-item{
  --background: linear-gradient(to right,#12405f, #4d9696) !important; color: #fff; --inner-border-width: 0px !important;
}

.text{
  color: #fff;
}

.delete{
  --background: #d35a0af6;
}