.backgroundcolorcolor{
	//--background: linear-gradient(to bottom right, #8f2784, #0d0939) ;
	--background: linear-gradient(#7da7c7,#13415f);
}

.itembg{
	--background: rgba(0,0,0,0);
	border: none !important;
}

.item-label{
	color: #fff;
	padding-top: 15px;
}

ul,
li {
list-style: none;
margin: 0;
padding: 0;
}

.tgl {
display: none;

// add default box-sizing for this scope
&,
&:after,
&:before,
& *,
& *:after,
& *:before,
& + .tgl-btn {
	box-sizing: border-box;
	&::selection {
		background: none;
	}
}

+ .tgl-btn {
	outline: 0;
	display: block;
	width: 4em;
	height: 2em;
	position: relative;
	cursor: pointer;
	user-select: none;
	&:after,
	&:before {
		position: relative;
		display: block;
		content: "";
		width: 50%;
		height: 100%;
	}
	
	&:after {
		left: 0;
	}
	
	&:before {
		display: none;
	}
}

&:checked + .tgl-btn:after {
	left: 100%;
}
}

// themes
.tgl-flat {
+ .tgl-btn {
	padding: 2px;
	transition: all .2s ease;
	background: rgba(0,0,0,0);
	border: 4px solid #848484;
	border-radius: 2em;
	&:after {
		transition: all .2s ease;
		background: #848484;
		content: "";
		border-radius: 1em;
	}
}

&:checked + .tgl-btn {
	border: 4px solid #48c7b0;
	&:after {
		left: 50%;
		background: #48c7b0;
	}
}
}

.row-background{
background-color: rgba(0, 0, 0, 0.3); 
padding-top: 10px; 
padding-bottom: 10px; 
border-radius: 5px;
margin-bottom: 10px;
}

.border-pink{
border-left: 8px solid #df53d3;
}

.border-purple{
border-left: 8px solid #2e295a;
}

.border-green{
border-left: 8px solid #48c7b0;
}

.device-arrow{
font-size: 35px; 
margin-left: 75%;
}

.pink-arrow{
color: #df53d3;
}

.green-arrow{
color: #48c7b0;
}

.purple-arrow{
color: #2e295a;
}