

// @media (min-width: 475px) and (max-height: 667px) { }

/*New CSS*/

.blockOne{
  width: 100%;
  background-image: linear-gradient(to right,#12405f, #257070);
  border-radius: 5px;
  padding: 40px 10px 40px 10px;
  text-align: center;
  color: #fff;
  border: 1px solid #257070;
}
  
.blockTwo{
  width: 100%;
  background-image: linear-gradient(to right,#12405f, #a32d55);
  border-radius: 5px;
  padding: 40px 10px 40px 10px;
  text-align: center;
  color: #fff;
}

.blockThree{
  width: 100%;
  //background-color: #48c7b0;
  background-image: linear-gradient(to right,#12405f, #3593be);
  border-radius: 5px;
  padding: 40px 10px 40px 10px;
  text-align: center;
  color: #fff;
  border: 1px solid #006956;
}

