<ion-content class="backgroundcolorcolor" padding>
  <ion-row>
    <ion-text color="light">
      <h4>Terms and conditions</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Cras vel eleifend magna. Aenean scelerisque suscipit magna, 
        a sodales lectus condimentum id. Integer efficitur purus a 
        hendrerit maximus. Morbi pharetra ante non porta faucibus. 
        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices 
        posuere cubilia Curae; Integer tincidunt ut nisi id dapibus. 
        Ut sit amet congue elit. Morbi a elit diam. Duis at euismod urna.
      </p>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Cras vel eleifend magna. Aenean scelerisque suscipit magna, 
        a sodales lectus condimentum id. Integer efficitur purus a 
        hendrerit maximus. Morbi pharetra ante non porta faucibus. 
        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices 
        posuere cubilia Curae; Integer tincidunt ut nisi id dapibus. 
        Ut sit amet congue elit. Morbi a elit diam. Duis at euismod urna.
      </p>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Cras vel eleifend magna. Aenean scelerisque suscipit magna, 
        a sodales lectus condimentum id. Integer efficitur purus a 
        hendrerit maximus. Morbi pharetra ante non porta faucibus. 
        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices 
        posuere cubilia Curae; Integer tincidunt ut nisi id dapibus.
      </p>
    </ion-text>
  </ion-row>

  <button class="button" routerLink="/tabs">Accept</button>

</ion-content>

