.backgroundcolorcolor{
	--background: linear-gradient(#6089a8,#1e5275);
}

.row-background{
	background-color: rgba(0, 0, 0, 0.3); 
	padding-top: 10px; 
	padding-bottom: 10px; 
	border-radius: 5px;
	margin-bottom: 10px;
}